
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<h1 style="text-align:center">Your Christmas list!</h1>
 
<h4 class="search">SEARCH A FRIEND'S LIST BY USERNAME</h4>
<%= form_tag(lists_path, method: :get)do %>
<%= text_field_tag(:search, params[:search])%>
<%= submit_tag ("Search Username")%>
<%end%>

<% @lists.each do |list| %>
<ul>
  <li><%= link_to list.user.username, list_path(list) %></li><br>
  
</ul>
<% end %>
<table>
  
  <tr bgcolor="#6dbbf5">
    <th style="text-align: center">User</th>
    <th style="text-align: center">Product</th>
    <th style="text-align: center">Store</th>
    <th style="text-align: center">Price</th>
    <th style="text-align: center" colspan="4">Options</th>
  </tr>
<% current_user.lists.each do |list| %>
<p>
  <tr>
  <td><%= current_user.username %></td>
  <td><%= list.product %></td>
  <td><%= list.store %></td>
  <% if list.price == 'Under $5.00'%>
      <td class="search"><%=list.price%>
      
      <%end%>
      </td>
  <% if list.price == 'Above $20.00'%>
      <td class="search2"><%=list.price%>
      
      <%end%>
      </td>
  <% if list.price == '$5.00-$20.00'%>
      <td class="search3"><%=list.price%>
      
      <%end%>
      </td>
  
      <td><%= link_to 'Show',list_path(list) %></td>
      <td><%= link_to 'Edit', edit_list_path(list) %></td>
    <td class="delete"><%= link_to 'Delete', list_path(list), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  
</p>
<%end%>
</table>
<h1 style="text-align:center">This elf asks...</h1>
<div class="circular-sb">
   
  Would you like to add to your list?
  <%= link_to 'Add', '/lists/new'%>
  or log out?
  <%= link_to 'Log Out', logout_path %>
  <div class="circle1"></div>
  <div class="circle2"></div>
</div>
<img src = "https://i.ibb.co/x7LTCCv/elf.jpg" style="width: 40vw; min-width: 3px;" >


<table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h2>     Your friend's list: </h2>
  <tr bgcolor="#6dbbf5">
    <th style="text-align: center">Product</th>
    <th style="text-align: center">Store</th>
    <th style="text-align: center">User</th>
    <th style="text-align: center">Price</th>
    <th style="text-align: center">Favorite?</th>
    <th style="text-align: center" colspan="0">Options</th>
  </tr>
 
  <% @lists.each do |list| %>
  
    <tr>
      
      <td><%= list.product %></td>
      <td><%= list.store %></td>
      <td><% if list.user%>
      <%= list.user.username %>
      
      <%end%>
      </td>

      <% if list.price == 'Under $5.00'%>
      <td class="search"><%=list.price%>
      
      <%end%>
      </td>
      
      <% if list.price == 'Above $20.00'%>
      <td class="search2"><%=list.price%>
      
      <%end%>
      </td>
  <% if list.price == '$5.00-$20.00'%>
      <td class="search3"><%=list.price%>
      
      <%end%>
      </td>
      
       <% if list.price == nil%>
      <td class="search3">Not specified by user
      
      <%end%>
      </td>
      <td>     
         <%= link_to '', favorite_project_list_path(list, type: "favorite"), method: :put, class:"far fa-heart"%>
      
           </td>
           
   <!--<%= link_to "unfavorite", favorite_project_path(list, type: "unfavorite"), method: :put %>-->

      <td><%= link_to 'Show',list_path(list) %></td>
      
      
   </div>
<%end%>


   
<style>
body{
  background-color:white;
}
img {

margin: 10 500 0 1000px;
}




</style>

  
</table>

