<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}


/* Add styles to the form container */


/* Set a style for the submit button */

body {
  background-color: #5ADE50;
  background-image: url('https://i.ibb.co/HGM20Ts/santaandreindeer.jpg');
  background-size: cover;
}
</style>
</head>
<body>
<p id= "alert"><%=alert %></p>
<h1><font color="white">Login</font></h1>
<div class="container">
<%= form_tag sessions_path do |form| %>
<div class="field">
  <%= label_tag :username %>
  <%= text_field_tag :username %>
</div>
<div class="field">
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>
<div class="actions">
  <%= submit_tag "Login!", class:'btn' %>
</div>
<% end %>
</div>




</body>
</html>
