<h1 class="welcomeH1" align="center">WELCOME TO THE CHRISTMAS LIST MANAGER!</h1>

<br>
<br>
<br>

<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>
<% if logged_in? %>
    <h2 class="welcomeH2">You are logged in as, <%= current_user.username %>!</h2>
    <%= link_to 'My Christmas List',controller: 'lists'%>
<%end%>
</p>


<style>
body {
  background-image: url('https://media1.tenor.com/images/2087784170b31b0b8baa9e77de2a6ef4/tenor.gif?itemid=4556241');
  background-size: 1750px 1180px;
}


</style>



<p>
    <% if current_user %>
    <%= link_to "Log out", logout_path, class:'search' %>
    <% else %>
    
    <%= link_to "RETURNING USER", login_path,class:"button button1" %>
    <%= link_to "SIGN UP", signup_path,class:"button button2" %> 
    <% end %>
</p>
